@inherits LayoutComponentBase

<div class="page">
    <main>
        <div>
            <LoginDisplay/>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>